travis
*.asv
analysis/LiF_W_*
analysis/LiF_R_*
analysis/F_Ion*
analysis/Cl_Ion*
analysis/Br_Ion*
analysis/I_Ion*
analysis/Li_Ion*
analysis/LiF_WX_*
analysis/LiF_RX_*
analysis/LiF_R
analysis/LiF_W
analysis/LiCl_W_*
analysis/LiCl_R_*
analysis/LiF
analysis/LiCl
analysis/LiBr
analysis/LiI
analysis/BSSE_Estimation
tabledata.txt
analysis/Data_Table.*
*.xlsx
Manuscript_1/~$erview.docx
analysis/MD_Scripts/RDF_App/AppData/savestate.mat
analysis/MD_Scripts/RDF_App/AppData/savestate.mat
*.pyc
Tutorials/.ipynb_checkpoints*
*intermediate_bayesian_opt.mat*
Machine_Learning/LiBr_JC_Model_C5/increased_bayesian_opt_runs/LiBr_JC_Model_C5.log
Machine_Learning/Analysis/testvideo.mp4
*.mp4
*.dat
Machine_Learning/Analysis/figures/*
Machine_Learning/Parallelism_Inquiry/*
*.ini
