%mem=##MEMORY##
%NProcShared=##CORES##

#p ##THER##/##BASS## SP SCF=(NoVarAcc,tight,NoIncFock,Conver=##CONV##)
int(grid=ultrafine) ##DISP####IOPS####GUESS##

Single Cl(-1) ion ##THERT## Energy with ##BASST## basis ##DISPT##

 -1   1
 Cl
 
##GENBAS##
##GENECP##