##TITLE##
##PERIODICITY##
##SPACEGROUP##
##CELLPARAM##
##GEOM##
##LATVEC##
##BSSE##
##CELLOPT##
##VIBRATION##
END
##BASIS##
99 0
END
##DFT##
##DFTD3##
##KPOINTS##
##SAVEWF##
TOLINTEG
##INTTOL##
##DIIS##
##FMIXING##
##LEVSHIFT##
##ANDERSON##
##BROYDEN##
BIPOSIZE
##BIPOSIZ##
EXCHSIZE
##EXCHSIZ##
MAXCYCLE
##MAXCYCL##
TOLDEE
##CONV##
ILASIZE
##ILAS##
END