%mem=##MEMORY##
%NProcShared=##CORES##

#p ##THER##/##BASS## scan SCF=(NoVarAcc,tight,NoIncFock,Conver=##CONV##)
int(grid=ultrafine) ##DISP####IOPS##

LiF ion pair ##THERT## PES with ##BASST## basis ##DISPT##

 0   1
 Li 
 F 1 R1

R1 1.0 90 0.1
 
##GENBAS##
##GENECP##